:root {
    --fonte-titulo: "League Spartan", sans-serif;
    --fonte-corpo: "Inter", sans-serif;

    --azul-escuro-base: #110F6C;
    --laranja-base: #FB6200;
    --branco: #FFFFFF;
    --preto: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input,
button,
select,
textarea {
    font-size: 16px;
    line-height: 1.6;
    font-family: var(--fonte-corpo);
    color: black;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

strong {
    color: var(--laranja-base);
    font-weight: bold;
}
