header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem 5rem;

  background-color: rgb(235, 235, 235);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.nome-sistema-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nome-sistema-wrapper > span {
  font-size: 2.4rem;
  font-family: var(--title-font-family);
}

.logo {
  width: 7.2rem;
}

nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

nav > ul {
  display: flex;
  gap: 1.6rem;
}

nav a {
  color: black;
}

nav a:hover {
  text-decoration: underline;
}